@*<script src="@Url.Content("~/Scripts/eisk-required-if-validation.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.18.custom.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                showOn: "focus",
                showAnim: 'slideDown'
            });
        });
    </script>
    <script type="text/javascript">

        $("#anim").change(function () {
            $("#datepicker").datepicker("option", "showAnim", $(this).val());
        });

    </script>*@
<style type="text/css">
    .bs-example {
        margin: 20px 60px;
    }
</style>

@using System.Web.Optimization
@model Eisk.Models.EmployeeEditorModel
@{
    ViewBag.Title = Model.PageTitle;
}

@using (Html.BeginForm(Model.EditorAction, "Employees", FormMethod.Post,
                                                                            new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <h1 class="h1">
        @*@Model.PageTitle*@
        Test
    </h1>
    <p class="bs-example">
        Add details of the employee.
    </p>
    @Html.HiddenFor(model => model.Id)
    <div class="bs-example">
        <div class="row form-group">
            <div class="col-xs-4">
                @Html.EditorFor(m => m.FirstName)
            </div>
            <div class="col-xs-4">
                @Html.EditorFor(m => m.LastName)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4">
                @Html.EditorFor(m => m.TitleOfCourtesy)
            </div>
            <div class="col-xs-4">
                @Html.EditorFor(m => m.BirthDate)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4">
                @Html.EditorFor(m => m.Title)
            </div>
            <div class="col-xs-4">
                @Html.EditorFor(m => m.HireDate)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4">
                @Html.EditorFor(m => m.ReportsTo)
            </div>
        </div><div class="row form-group">
            <div class="col-xs-4">
                @Html.EditorFor(m => m.Phone)
            </div>
            <div class="col-xs-4">
                @Html.EditorFor(m => m.Extension)
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4">
                <div class="input-group">
                    <input type="submit" class="btn btn-primary" value="Submit">
                    @*<input type="reset" class="btn btn-default" value="Reset">*@
                    <br />
                    <div>
                        <em>Required fields are marked with *</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}