<style type="text/css">
    .bs-example {
        margin: 20px 30px;
    }
</style>

@using System.Web.Optimization
@model Eisk.Models.EmployeeEditorModel
@{
    ViewBag.Title = Model.PageTitle;
}

@using (Html.BeginForm(Model.EditorAction, "Employees", FormMethod.Post,
                                                                                                                                                                new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <h1 class="h1">
        @Model.PageTitle
    </h1>
    <p class="bs-example">
        Add details of the employee. Required fields are marked with *.
    </p>
    @Html.HiddenFor(model => model.Id)
    <div class="bs-example">
        <div class="row form-group">
            <div class="col-xs-4">
                @Html.EditorFor(m => m.FirstName)
            </div>
            <div class="col-xs-4">
                @Html.EditorFor(m => m.LastName)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4">
                @Html.EditorFor(m => m.TitleOfCourtesy)
            </div>
            <div class="col-xs-4">
                @Html.EditorFor(m => m.BirthDate)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4">
                @Html.EditorFor(m => m.Title)
            </div>
            <div class="col-xs-4">
                @Html.EditorFor(m => m.HireDate)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4">
                @Html.EditorFor(m => m.ReportsTo)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4">
                @Html.EditorFor(m => m.Address.AddressLine)
            </div>
            <div class="col-xs-4">
                @Html.EditorFor(m => m.Address.City)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4">
                @Html.EditorFor(m => m.Address.Region)
            </div>
            <div class="col-xs-4">
                @Html.EditorFor(m => m.Address.PostalCode)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4">
                @Html.EditorFor(m => m.Phone)
            </div>
            <div class="col-xs-4">
                @Html.EditorFor(m => m.Extension)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4">
                @Html.EditorFor(m => m.Notes)
            </div>
            <div class="col-xs-4">
                @Html.Partial("_EditorImagePanel", Model)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4">
                <span>Required fields are marked with *</span>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery-val");
    @Scripts.Render("~/bundles/jquery-ui");

    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                showOn: "focus",
                showAnim: 'slideDown'
            });
        });
    </script>
    <script type="text/javascript">

        $("#anim").change(function () {
            $("#datepicker").datepicker("option", "showAnim", $(this).val());
        });

    </script>
}

@section Styles {
    @Styles.Render("~/Content/css/jquery-ui")
}